* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
}
section {
  min-height: 100vh;
  width: 50%;
}

.first-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.first-half h1 {
  font-size: 48px;
  color: #1877f2;
}

.first-half p {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  body {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 100vh;
  }
  section {
    width: unset;
    min-height: unset;
  }
  .first-half {
    width: unset;
  }
  .first-half h1 {
    text-align: center;
  }
  form {
    min-width: 300px;
  }
  .first-half p {
    text-align: center;
  }
}
@media only screen and (max-width: 300px) {
  body {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }
  .second-half {
    width: 270px;
    padding: 0 20px;
  }
  .first-half {
    width: 270px;
  }
  form {
    min-width: 270px;
  }
}
