.second-half {
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.598);
  padding: 20px;
  border-radius: 10px;
  width: unset;
}
form > *:not(hr) {
  min-height: 40px;
  width: 100%;
  text-align: center;
}

hr {
  width: 100%;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.305);
}

button {
  color: white;
  border-radius: 5px;
  background-color: #1877f2;
  border: none;
}

.green-button {
  background-color: #42b72a;
  padding: 0 20px;
  min-height: 40px;
}
@media only screen and (max-width: 420px) {
  .second-half {
    width: 270px;
    padding: 0 20px;
  }
  .first-half {
    width: 270px;
  }
  form {
    min-width: unset;
  }
  .first-half h1 {
    padding-right: 30px;
    font-size: 34px;
    width: 185px;
  }
}
@media only screen and (min-width: 700px) {
  form {
    width: 350px;
  }
}
